body {
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
    color: #2E2F42;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.top-line {
    display: flex;
    
}

.link {
    text-decoration: none;
}
ul {
    list-style: none;
    }

.slogan {
    background-color: #2E2F42;

}
.slogan-button {
    background-color: #4D5AE5;
    color:#ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    text-align: center;
}
.slogan-button:hover, 
.slogan-button:focus,
.slogan-button:active {
    background-color: #404BBF;
        color: #ffffff;
}
h1 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: Bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
    text-align: center;
}
h2 {
    font-weight: Bold;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 40px;
    text-align: center;
}
h3 {
    font-weight: Bold;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 24px;
    text-align: center;
}
.logo-web {
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-size: 18px;
color: #4D5AE5;
text-decoration: none;
}
.header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
}
.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #f4f4fd;
    text-decoration: none;
}
footer {
    background-color: #2E2F42;
    text-align: left;
    color:#F4F4FD;
}
